---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
import '../styles/global.css';

const pageTitle = "Blog";
---

<html lang="en">
  <BaseLayout pageTitle={pageTitle}>
    <h2>Welcome to my blog!</h2>

    <p> This is where I will post about my journey learning Astro.</p>

    <ul>
      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>

  </BaseLayout>
</html>