---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Contact";
const shortDesc = "// Let's get in touch! Feel free to reach out to me via email or connect with me on social media.";
---

<BaseLayout pageTitle={pageTitle} shortDesc={shortDesc} >

    <p> Example text for the contact page. </p>
    
</BaseLayout>