---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Engineering";
const shortDesc = "// This is where I will post about my engineering projects & experiences.";
---

<BaseLayout pageTitle={pageTitle} shortDesc={shortDesc} >

    <p> I am a student at the Univeristy of Arkansas studying Computer Engineering. </p>
    <p> fill in info</p>
    
</BaseLayout>