---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Engineering";
const shortDesc = "// This is where I will post about my engineering projects & experiences.";
---

<BaseLayout pageTitle={pageTitle} shortDesc={shortDesc} >
    <h2>Internship:</h2>
    <p>
        In the summer of 2026 I had the opportunity to intern with Circon Energy LLC which is based in Houston, TX. Circon is an energy company with the aim is to utilize resources efficiently in order to reduce carbon emissions, provide clean energy, and empower local economies.
        My role involved assisting with the digital strategy to develop a simulation for data aggregation from energy sites worldwide. Through this experience I gained much hands on experience, including but not limited to, 
        provisioning & using Raspberry Pis, 
        researching & creating a simulation for accurate representation of field PLC data/telemetry, and
        downloading and running open source AI models for anomaly detection & image detection. 
        The overarching goal of this project was to simulate the aggregation of data from sites all over the world in order to make informed decisions regarding the field operations as well as business strategy.
    </p>
    <h2>Academics:</h2>
    <p> I am a student at the Univeristy of Arkansas pursuing a Bachelor's of Science in the field of Computer Engineering.
        Alongside this degree I am also pursuing minors in Mathematics and Engineering Management.
        Through my coursework I have had the opportunity to expand my knowledge of many different topics in the field of Computer Engineering.
        The courses that I found most interesting include Software Engineering, System Synthesis & Modeling, Programming Paradigms, and Circuits & Electronics.
        While there are many other courses that have allowed me to gain valuable experience and created a foundation for continued study these courses stand out for their emphasis on the development process, types of programming (Low Level & High Level), and the bridge between hardware and software.
        <br> <br>
        A unique and awesome opportunity that I have had during my time in college was to study abroad in Rome, Italy during the summer of 2025.
        The program was through the University of Arkansas and focused on Industrial Engineering. 
        Through this experience I had the opportunity to learn the strategies of economic analysis and project management.
        A lot of this learning came from program excursions in which we had the chance to visit with local companies in Rome to learn about different project and economic management styles and necessities.
    </p>
</BaseLayout>