---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Engineering";
const shortDesc = "// This is where I will post about my engineering projects & experiences.";
---

<BaseLayout pageTitle={pageTitle} shortDesc={shortDesc} >

    <p> Example text for the engineering page. </p>
    
</BaseLayout>