---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Hobbies";
const shortDesc = "// This is where I will post about my hobbies and interests.";
---

<BaseLayout pageTitle={pageTitle} shortDesc={shortDesc} >

    <p> Example text for the hobbies page. </p>
    
</BaseLayout>