---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="hero">
		<h1>about me</h1>
		<p>My name is Micah Livingston</p>
		<p>I am a student at the Univeristy of Arkansas in Fayetteville, AR. My current areas of study include: Computer Engineering, Mathematics, and Engineering Management.</p>
	</div>
</BaseLayout>
