---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Lifting";
const shortDesc = "// This is where I will post about my lifting progress, experiences, and tips.";
---

<BaseLayout pageTitle={pageTitle} shortDesc={shortDesc} >

    <p> Example text for the lifting page. </p>
    
</BaseLayout>