---
import Social from '../components/Social.astro';
import LinkedIn from '../components/LinkedIn.astro';
import GitHub from '../components/GitHub.astro';
import Strava from '../components/Strava.astro';
import LetterBoxd from '../components/Letterboxd.astro';
---

<footer>
    <p>Connect with me on: </p>
    <div class="footer-links">  
        <Social platform="github" username="micahlivingston" /> 
        <GitHub />
        <Social platform="linkedin" username="in/micah-livingston-58ab69397/" /> 
        <LinkedIn /> 
        <Social platform="strava" username="athletes/146825609" />
        <Strava />
        <Social platform="letterboxd" username="mgliv" />
        <LetterBoxd />
    </div>
    <div class="footer-info">  
        Micah Livingston | Fayetteville, AR | 2026
    </div>
</footer>
