---

---

<div id="top" class="hero">
    <p class="eyebrow">// developer &amp; natural competitor</p>
    <h1><span class="highlight">Micah Livingston</span></h1>
    <p>I'm a software engineer and a web developer. I love to build things that make people's lives easier.</p>
    <a href="/about/" class="btn">Learn More</a>
</div>