---
---
<div id="main-menu" class="nav-links">
    <a href="/">About</a>
    <a href="/engineering/">Engineering</a>
    <a href="/lifting/">Lifting</a>
    <a href="/hobbies/">Hobbies</a>
    <a href="/contact/">Contact</a>
</div>